
@{
    ViewBag.Title = "ImportarLibro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Importar Libro</h2>

@using (Html.BeginForm("ImportarLibro", "Libro", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Upload a file</legend>
        <div class="editor-field">
            @Html.TextBox("file", "", new { type = "file" })
        </div>
        <div class="editor-field">
            <input type="submit" value="Upload" />
        </div>
    </fieldset>
}