
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

    <article id="article">
        <table id="mitabla1">
            <thead>
                <tr>
                    <th>Edad</th>
                    <th>Estatura</th>
                    <th>Peso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>27</td>
                    <td>1.65</td>
                    <td>70 Kg</td>
                </tr>
            </tbody>
        </table>
        <table id="mitabla2">
            <thead>
                <tr>
                    <th>Edad</th>
                    <th>Estatura</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.80</td>
                    <td>1.75</td>
                </tr>
            </tbody>
        </table>
    </article>

  
